.DS_*
.thumb*
output
test-concat
amplicheck
ref/silva*
output-taxonomy
dada2_*
qibx_*
refs/uni*
refs/silva*
input/mock/*
qc
Sample2_R1.fq.gz
Sample2_R2.fq.gz
refs/*.RData
data/mock*
otusfocus
data/16S-filt/
multiqc
Rhea
q2temp
test/py/
test/pydaist/
Rhea
GTDB_bac*
RefSeq_16S_6-11*
hitdb_v*
rdp_species_assign*
data/diet
